video {
  opacity: 0;
  transform: scale(0) rotate(0deg);
  transition: all 0.5s ease;
}

/* we'll start this at the end of the stack as we're deleting things at the bottom of the stack, and we don't want the pile rotation to change when they're removed */
.visible {
  transform: scale(1) rotate(0deg);
  opacity: 1;
}

.visible:nth-of-type(2n) {
  transform: scale(1) rotate(5deg);
}

.visible:nth-of-type(3n) {
  transform: scale(1), rotate(-5deg);
}

.visible:nth-of-type(4n) {
  transform: scale(1), rotate(7deg);
}
